


.head-changeLoad {
    background-image: url(../Areas/Transactions/Images/FondoLogin2.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px 250px;
    background-position: bottom left;
    height: 600px;
}

.change-newimg {
    position: absolute !important;
    z-index: 1;
    top: 35px !important;
    right: 29% !important;
    width: 57px !important;
    height: 57px !important;
    /*        background-color: red;*/
}

a, a:link, a:visited, a:active, a:hover {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.box-change2 {
    width: 100% !important;
    max-width: initial !important;
}

.mrg-top20 {
    margin-top: 20px !important;
}

.inputChange {
    border: 0px none none;
    border-radius: 6px;
    /*       width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;*/
}

.block-dep {
    border: 1px solid #00002F /*#fff*/;
    border-radius: 10px;
    margin-bottom: 7px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.dis-fle {
    display: flex;
}*/

.input-boxChange {
    border: none;
    padding: 2px 12px;
    text-align: center;
    color: white !important;
    background-color: transparent;
    margin: 0px !important;
    font-size: 20px !important;
    height: 26px;
    /*  background-color: red;*/
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div {
    display: block;
}

.pst-relt {
    position: relative;
}

.inpt-styl {
    border: 0 !important;
}

label, input {
    transition: all 0.2s;
    touch-action: manipulation;
}

.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 5px;
    width: 59%;
    /* background-color: green;*/
}

input, input:focus, input:hover {
    outline: none;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: white /*-internal-light-dark(black, white)*/;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.label-sty {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #00002F /*#fff*/;
    margin: 7px 0px 0px 17px;
}

label {
    font-size: 13px;
    line-height: 14px;
    color: #272425d9;
    font-weight: 600;
    display: block;
    margin-bottom: 0px;
    padding-top: 0px;
}

.pst-relt {
    position: relative;
}

.head-boxChange {
    margin-right: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
    text-align: left;
    font-weight: 700;
    width: 38%;
    padding: 22px 20px;
    background-color: #00002F /*#fff*/;
    border: 0px solid #00002F /*#fff*/;
    margin-left: auto;
    color: white;
}

.head-lefchange {
    border-radius: 0px 9px 9px 0px;
}

.head-rigchange {
    border-radius: 0px 9px 9px 0px;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    width: 57px !important;
    height: 57px !important;
}

element.style {
    visibility: visible;
    animation-name: pulse;
    vertical-align: middle;
}

0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
}

100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}


/*********************************/


/************************REsponsive************************/
@media (max-width: 990px) {

    .header-wrapper {
        position: initial !important;
    }

    .mrg40-rps {
        margin-top: 40px !important;
    }

    .mrg65-rps {
        margin-top: 65px !important;
    }

    .fond-billete {
        height: auto;
        background-image: none !important;
    }

    .information-blocks .pdg-bot70 {
        padding-bottom: 0px !important;
    }

    .pad-baner-transp2::after {
        display: none;
    }

    .pad-baner-transp::after {
        display: none;
    }

    .line-left {
        display: none;
    }

    .pdg-hori {
        display: block !important;
    }

    .head-transpa {
        background-image: none !important;
        padding: 0px !important;
    }

    .head-nosotros {
        background-image: none !important;
        padding: 0px !important;
    }

    .head-herr-multpl {
        background-image: none !important;
    }

    .head-nues-cuentas {
        background-image: none !important;
    }

    .head-buscador-cci {
        background-image: none !important;
    }

    .head-recom-gana {
        background-image: none !important;
    }

    .head-pregunt-frecuen {
        background-image: none !important;
    }

    .head-contacto {
        background-image: none !important;
    }

    .head-transpa .header-wrapper .color-fond {
        background: linear-gradient(90deg, rgba(15,94,171,1) 8%, rgba(23,52,131,1) 100%);
    }

    .head-nosotros .header-wrapper .color-fond {
        background: linear-gradient(90deg, rgba(15,94,171,1) 8%, rgba(23,52,131,1) 100%);
    }

    .head-nues-cuentas .header-wrapper .color-fond {
        background: linear-gradient(90deg, rgba(15,94,171,1) 8%, rgba(23,52,131,1) 100%);
    }

    .head-herr-multpl .header-wrapper .color-fond {
        background: linear-gradient(90deg, rgba(15,94,171,1) 8%, rgba(23,52,131,1) 100%);
    }

    .head-recom-gana .header-wrapper .color-fond {
        background: linear-gradient(90deg, rgba(15,94,171,1) 8%, rgba(23,52,131,1) 100%);
    }

    .head-buscador-cci .header-wrapper .color-fond {
        background: linear-gradient(90deg, rgba(15,94,171,1) 8%, rgba(23,52,131,1) 100%);
    }
    /* 	.head-contacto .header-wrapper .color-fond{ */
    /* 		background: linear-gradient(90deg, rgba(15,94,171,1) 8%, rgba(23,52,131,1) 100%); */
    /* 	} */
    .head-pregunt-frecuen .header-wrapper .color-fond {
        background: linear-gradient(90deg, rgba(15,94,171,1) 8%, rgba(23,52,131,1) 100%);
    }



    /* 	.head-buscador-cci .container{ */
    /* 		background: #fff; */
    /* 	} */
    /* 	.head-recom-gana .container{ */
    /* 		background: #fff; */
    /* 	} */
    /* 	.head-pregunt-frecuen .container{ */
    /* 		background: #fff; */
    /* 	} */


    .head-transpa .header-wrapper .color-fond {
        background: linear-gradient(90deg, rgba(15,94,171,1) 8%, rgba(23,52,131,1) 100%);
    }

    .fond-pilares {
        height: auto !important;
    }

    .two-optbanner {
        height: auto;
        padding: 40px 0px;
    }

        .two-optbanner .dis-jusalign {
            flex-direction: column-reverse;
        }

            .two-optbanner .dis-jusalign .col-md-7 h3 {
                text-align: center;
            }

            .two-optbanner .dis-jusalign .col-md-7 p {
                text-align: justify !important;
                margin-bottom: 32px;
            }

    .rsp-icongrey .dis-itmcent {
        display: block;
    }

    .rsp-icongrey .col-md-2 {
        padding: 8px 15px;
    }

    .pad-baner-transp {
        padding: 128px 0 440px;
    }

    .pad-baner-transp2 {
        padding: 128px 0 440px;
    }

    .pad-baner-buscadcci {
        padding: 128px 0 440px;
    }

    .pad-banner-recomdgana {
        padding: 128px 0 440px;
    }

    .pad-subhome {
        padding: 128px 0 40px;
        flex-wrap: wrap-reverse;
        display: flex;
    }

    .section-bancs {
        display: block;
    }

        .section-bancs .dis-itmcent {
            display: block;
            text-align: center;
        }

    .content-push .nav-overflow .disable-animation .column-1 a {
        color: #000;
        padding: 0px 25px;
        font-size: 17px;
        line-height: 45px;
        text-align: left;
    }

    .nav-overflow .content-push .col-lg-4 .visible-lg {
        display: block !important;
    }

    .nav-overflow .content-push {
        display: block !important;
    }

    .pad-baner-transp2 .mrg-bot10 {
        display: none;
    }

    .pad-baner-transp2 .fnt-19 {
        display: none;
    }

    .pad-baner-transp2 .dis-fle {
        display: none;
    }

    .pad-baner-transp .mrg-bot10 {
        display: none;
    }

    .pad-baner-transp .color-sky {
        display: none;
    }

    .pad-baner-transp .fnt-19 {
        display: none;
    }

    .pad-baner-transp .dis-fle {
        display: none;
    }

    .img-rspCirc {
        width: 680px;
        position: absolute;
        right: 0;
        bottom: auto;
    }

    .txt-hide {
        display: block;
        margin-top: 30px;
    }

    .fond-blue .mrg-top75 {
        margin-top: 25px !important;
    }

    .fond-blue {
        background-size: cover;
        padding: 35px 20px 30px;
        background-position: center bottom;
    }

    .lin-heig24 {
        padding: 0px 20px;
    }

    .swiper-tabs .information-entry .itm-respb {
        display: block;
    }

        .swiper-tabs .information-entry .itm-respb .dis-itmcent {
            justify-content: center;
            margin-bottom: 20px;
        }

        .swiper-tabs .information-entry .itm-respb .col-xs-12 {
            text-align: center;
        }

    .swiper-tabs .swip-1 {
        bottom: -30px !important;
        left: 0px !important;
        top: auto;
    }

    .swiper-tabs .swip-2 {
        top: 0px !important;
        left: 15px !important;
        width: 100px !important;
    }

    .swiper-tabs .swip-3 {
        top: 0px !important;
        right: 5px !important;
    }

    .swiper-tabs .swip-4 {
        bottom: -30px !important;
        right: 0px !important;
        left: auto !important;
        margin-right: 5px !important;
    }

    .swiper-tabs .mrg-tobt130 {
        margin: 100px auto;
        display: block;
    }

    .information-blocks .tabs-container .tabs-switch {
        margin-bottom: 25px !important;
    }

    .container .block-resp {
        display: block !important;
    }

        .container .block-resp .rsz-icono {
            width: 30%;
            display: block;
            margin: 0px auto 30px;
        }

    /* 	#content-block header { */
    /* 	    position: initial; */
    /* 	} */
    .header-top {
        padding-bottom: 42px;
    }

    .header-middle {
        padding: 0px !important;
    }

    .color-fond {
        padding-top: 65px;
    }

    .header-wrapper .type-4 .header-top {
        z-index: 4;
    }
    /* 	.header-wrapper .type-4 .header-top .menu-button{ */
    /* 		color: #00002F; */
    /*     	border: 1px solid #00002F; */
    /* 	} */
    .rsp-bt {
        color: #fff !important;
        border: 1px solid #fff !important;
    }

    .mreg-top {
        margin-top: 20px;
    }

    .navbar-header .navbar-toggle .icon-bar {
        background-color: #fff !important;
    }

    .navigation .nav-overflow .content-push .col-lg-3 {
        margin-top: 50px;
    }
}

@media (min-width: 990px) {
    .wdt-15p {
        width: 16%;
    }

    .wdt-85p {
        width: 84%;
    }

    .pdg-01 {
        padding: 30px 0px 0px 0px;
    }

    header.type-4 .header-top:before {
        display: none;
    }

    .header-top .widt-190 .wdth-img {
        display: none !important;
    }

    .img-rspCirc {
        display: none;
    }

    .txt-hide {
        display: none;
    }

    .pad-baner-transp {
    }
}

@media(max-width: 990px) {
    .mrg-botnresp {
        margin-bottom: 40px !important;
    }

    .img-sonr .mrg-top100 .center-txt .dis-flejust {
        display: block;
    }

        .img-sonr .mrg-top100 .center-txt .dis-flejust .wdt-210 {
            max-width: 550 !important;
            min-width: auto;
        }

        .img-sonr .mrg-top100 .center-txt .dis-flejust .box-usuarios {
            margin-bottom: 20px;
        }

        .img-sonr .mrg-top100 .center-txt .dis-flejust .listaPerfil {
            display: flex;
            padding-top: 8px;
        }

            .img-sonr .mrg-top100 .center-txt .dis-flejust .listaPerfil .txt-boxUsu .mrg-tobt2 {
                margin: 0px 0px 5px 10px !important;
            }

            .img-sonr .mrg-top100 .center-txt .dis-flejust .listaPerfil .box-selectUser {
                bottom: -1 !important;
                right: 0 !important;
                top: auto !important;
                left: auto !important;
                width: 60% !important;
                height: auto;
                border-radius: 20px 0px 9px 0;
                padding: 26px 0px;
                font-size: 18px;
            }

    .wdt-377 {
        width: 100% !important;
    }

    .wdt-200 {
        width: 20% !important;
    }

    .wdt-800 {
        width: 80% !important;
    }

    .accordeon .accordeon-title:after {
        background: none !important;
    }

    .si-550 {
        display: block !important;
    }

    .m-550 {
        display: none !important;
    }

    .slec-mrgt20 {
        margin-top: 20px !important;
    }

    .wrdt100p {
        width: 100% !important;
    }
}

@media(min-width: 990px) {
    .si-550 {
        display: none !important;
    }

    .m-550 {
        display: initial !important;
    }
}

.wdt-377 {
    width: 377px;
}

/*@media(min-width: 550px) and (max-width: 990px) {
    .img-sonr .mrg-top100 .center-txt .dis-flejust {
        display: inline-block;
    }

    .foot {
        padding: 60px 100px;
    }

    .icons-foot {
        width: 8% !important;
        height: 8% !important;
        margin-right: 15px;
    }
}*/

@media(min-width: 988px) and (max-width: 1200px) {
    .header-wrapper .navigation .nav-overflow .content-push .col-lg-2 {
        width: 203px !important;
    }

    .header-wrapper .navigation .nav-overflow .content-push .col-md-12 {
        width: 496px !important;
    }

    .header-wrapper .navigation .nav-overflow .content-push .col-lg-4 {
        display: block !important;
    }

    .header-top {
        display: none !important;
    }
    /* 	.nav-overflow .content-push { justify-content: space-between !important; } */
}
/* @media(min-width: 1200px) { */
/* 	.header-top{ display: none; } */
/* } */
@media (max-width: 1200px) {

    .head-changeLoad {
        background-image: none !important;
        background: linear-gradient(90deg, rgba(195,209,224,1) 8%, rgba(184,201,220,1) 100%) !important;
        padding: 0px 0px 50px !important;
        color: #000020;
    }

    .cart-table,
    .puntos-table {
        width: 99%;
        font-size: 14px;
        line-height: 28px;
        color: #999798;
        margin: 0px auto;
    }
}

@media (max-width: 990px) {
    .rsp-icongrey {
        height: auto;
    }

        .rsp-icongrey .dis-itmcent {
            display: initial;
        }

    .head-contacto .mrg-bot50 {
        margin-top: 42px;
    }
}

@media (max-width: 800px) {
    .head-contacto .mrg-bot50 .row .col-xs-12:first-child {
        margin-bottom: 30px;
    }
}


@media(min-width: 350px) and (max-width: 820px) {
    .pdg-btrl2 {
        width: 350px !important;
    }
}

@media (max-width: 770px) {
    .back-imga-none {
        background-image: none !important;
    }


    .style-10 {
        padding: 9px 20px !important;
    }

    .style-44 {
        padding: 9px 20px !important;
    }

    .style-58 {
        padding: 9px 20px !important;
    }

    .style-59 {
        padding: 9px 20px !important;
    }

    .pdg-btrl {
        padding: 9px 20px !important;
    }
}

@media (max-width: 700px) {
    .pdg-hori {
        padding: 0px 20px !important;
    }

        .pdg-hori .cent-imag {
            padding: 0px !important;
        }

    .pdg-lfrig60 {
        display: block !important;
    }

    .mrg-botrsp40 {
        margin-bottom: 40px;
    }

    .mreg3res0 {
        margin: 0px !important
    }

    .pdg-y {
        padding: 5px !important;
    }
}

@media (max-width: 650px) {
    .dtr-details {
        width: 100%;
    }

        .dtr-details li {
            display: flex;
            justify-content: space-between;
        }

            .dtr-details li .dtr-data {
                text-align: right;
            }

    .blk-rsp .dis-flejust {
        display: block !important;
    }

        .blk-rsp .dis-flejust .box-usuarios {
            display: flex !important;
        }

            .blk-rsp .dis-flejust .box-usuarios .txt-boxUsu .mrg-tobt50 {
                margin: 5px 10px;
                width: 120px;
            }

            .blk-rsp .dis-flejust .box-usuarios .part-box {
                align-items: center;
                display: flex !important;
                padding: 0px 64px 0px 0px;
            }

            .blk-rsp .dis-flejust .box-usuarios .box-userinfo {
                bottom: 0px;
                position: absolute;
                border-radius: 0 10px 10px 0px;
                right: 0;
                left: auto;
                height: 100%;
                width: 4%;
                background: linear-gradient(to left, #59afdd 0%, #6ad7f8 100%);
                color: white;
            }

        .blk-rsp .dis-flejust .col-md-3 .pop-infabs {
            bottom: 105px !important;
            right: 36px;
        }

        .blk-rsp .dis-flejust .col-md-3 .pop-infabs2 {
            bottom: 105px !important;
            right: 36px;
        }

    .pop-infabs {
        top: 55px !important;
    }

    .pop-infabs2 {
        top: 55px !important;
    }
}

/*@media (max-width: 600px) {
    .pad-baner-transp2 {
        padding: 128px 0 340px;
    }

    .pad-baner-transp {
        padding: 128px 0 340px;
    }

    .pad-foot40 {
        padding: 0px 40px;
    }

    .container .block-resp .rsz-icono {
        width: 55%;
        display: block;
        margin: 0px auto 30px;
    }

    .img-blsct {
        display: block;
        margin: 12px auto;
    }

    .mgr-0-6 {
        margin: 0px !important;
    }

    .head-changeLoad {
        height: auto !important;
    }
}*/

@media (max-width: 575px) {
    .benni1 {
        display: none;
    }

    .benni2 {
        display: none;
    }

    .benni3 {
        display: none;
    }
}

@media (min-width: 576px) {
    .ban-resp1 {
        display: none;
    }

    .ban-resp2 {
        display: none;
    }

    .ban-resp3 {
        display: none;
    }
}

@media (max-width: 450px) {
    .pad-baner-transp2 {
        padding: 185px 0 240px;
    }
    /* 	.pad-baner-transp{ padding: 135px 0 240px;} */
    /* 	.head-nues-cuentas . */
}

/*Phones (<991px)*/

@media (min-width: 991px) {
    .slide-resp {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .sale-entry {
        padding: 25px 0;
    }

        .sale-entry .sale-title {
            text-align: center;
            margin-left: auto;
        }

        .sale-entry .sale-price {
            width: auto;
            float: none;
            margin: 0 30px 10px 30px;
            border: none;
            border-bottom: 1px #f2f2f2 solid;
            padding-bottom: 10px;
        }

        .sale-entry .sale-description {
            width: auto;
            float: none;
            margin: 0 10px 10px 10px;
            text-align: center;
        }

    .head-changeLoad .container .mrg-top70 {
        margin-top: 30px !important;
    }

        .head-changeLoad .container .mrg-top70 .not-hover a {
            font-size: 11px;
        }
}

.navbar-brand {
    padding: 11px 15px !important;
}

@media (max-width: 968px) {
    .navbar-right {
        display: none;
    }

    .navbar-header {
        width: 100%;
    }

        .navbar-header .navbar-brand {
            padding: 9px 15px !important;
        }

    .color-body .navbar-default .navbar-collapse {
        z-index: 10000;
        background-color: #00000069;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
    }

    .back-black {
        z-index: 1000;
        position: fixed;
        top: 0;
        height: 100%;
        left: 0;
        border-radius: 0px 25px 25px 0px;
        width: 80%;
        background-color: #fff;
    }
}

@media (max-width: 990px) {
    .wide-center {
        padding: 0 15px;
    }

    .navbar-right {
        display: none;
    }

    .adv-sky {
        padding: 0px 20px;
    }

        .adv-sky .fnt-white {
            font-size: 13px;
        }


    /********* Separate  ********/
    .pdg-hori .dis-flejust {
        display: block !important;
    }

    .pdg-hori .box-usuarios {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 25px;
    }

        .pdg-hori .box-usuarios .txt-boxUsu .mrg-tobt50 {
            margin: 5px 0px !important;
        }

        .pdg-hori .box-usuarios .txt-boxUsu .mrg-tobt40 {
            margin: 5px 0px !important;
        }

        .pdg-hori .box-usuarios .part-box {
            padding-bottom: 0px !important;
            width: 150px;
        }

        .pdg-hori .box-usuarios .box-userinfo {
            bottom: 0px;
            position: absolute;
            border-radius: 0 10px 10px 0px;
            right: 0;
            left: initial;
            height: 100%;
            width: 4%;
            background: linear-gradient(to left, #59afdd 0%, #6ad7f8 100%);
            color: white;
        }

    .center-txt .pdg-top30 .dis-flejust {
        display: block;
    }

        .center-txt .pdg-top30 .dis-flejust a:first-child {
            margin-bottom: 5px;
        }

    .center-txt .pdg-top30 .pdg-top10 a {
        margin-top: 25px;
    }

    .cart-table td span {
        font-weight: 800;
    }

    .widt-400 {
        width: 100% !important;
    }

    .container .pdg-horiporc {
        padding: 0px;
    }

    .dtr-details li .dtr-title {
        text-align: left;
    }

    h2 {
        font-size: 28px !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    h3 {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 25px;
    }

    .navigation .nav-overflow .info-header .info-total {
        display: block !important;
    }

        .navigation .nav-overflow .info-header .info-total > li {
            display: block;
        }

            .navigation .nav-overflow .info-header .info-total > li:first-child {
                margin-bottom: 13px;
            }

    .navigation .nav-overflow nav li a {
        border-bottom: 1px dashed !important;
        padding: 0px !important;
    }

    .nav-overflow nav {
        padding: 0 25px;
    }

    .nav-overflow .content-push .col-lg-3 .pdg-left5 {
        padding-left: 25px !important;
    }

    .wdt-375 {
        width: auto !important;
    }

    .head-changeLoad .pdg-top50 {
        padding-top: 82px !important;
    }

    .bott30-2 {
        margin-bottom: 30px;
    }

    .info-total li .style-66 {
        border: 1px solid rgba(23, 52, 131, 1);
        color: rgba(23, 52, 131, 1);
    }
}

@media (max-width: 400px) {
    /* 	.head-boxChange{ */
    /* 		width: 136px !important; */
    /* 	} */
    .re4sp {
        font-size: 12px !important;
    }

    .pdg-btrl {
        padding: 9px 114px !important;
    }

    .not-hover .dis-fle a {
        font-size: 10px !important;
    }
}


.wdt-375 {
    width: 375px;
}

.style-88 {
    border-radius: 20px;
    background: linear-gradient(90deg,rgba(0,152,207,1) 0,rgba(0,182,211,1) 100%);
}

    .style-88:hover {
        background: rgb(3, 143, 193);
        color: #fff;
    }

.style-20:hover {
    pointer-events: none;
}

.wdt-520 {
    width: 520px !important;
    display: inline-block;
}

.wdt-
.btn-j {
    background: #fff;
    padding: 5px 25px;
    border-radius: 25px;
    border: 2px solid #fff;
}

.pdg-90h {
    padding: 0px 90px
}

.boxw-head {
    left: 0px;
    position: absolute;
    top: 17px;
    display: none;
    background-color: #fff;
    padding: 10px 20px;
    text-align: left;
    line-height: 26px;
    z-index: 100;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.15);
    white-space: nowrap;
}

.fixed-header .boxw-head {
    padding: 15px 20px;
    margin-top: 30px;
}

    .fixed-header .boxw-head a {
        height: 9px;
    }

.boxw-head2 {
    top: 54px;
    display: none;
    background-color: #fff;
    padding: 10px 20px;
    text-align: left;
    line-height: 26px;
    z-index: 100;
    border-radius: 5px;
    white-space: nowrap;
}


.mrgn-li {
    margin: 10px 0px 10px 0px;
}

.dec-list li::before {
    content: "\2022";
    color: #38D4F2;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.txt-popline {
    font-size: 14px;
    line-height: 18px;
}

.logo-resp4 {
    max-width: 183px;
}

.navbar-collapse .nav li a:hover {
    background: #d6d6d6;
}

.wdt-200 {
    width: 200px !important;
}




table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
    background-color: #38D4F2 !important;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #3CA3DD !important;
    border-color: #3CA3DD !important;
    color: #fff !important;
}

.pagination > li > a, .pagination > li > span {
    color: #3CA3DD !important;
}


.wdt-ctn {
    height: 40px;
    width: 344px;
    display: flex;
    background-color: #efefef !important;
    justify-content: center;
    margin: 0px auto;
    border-radius: 6px;
    color: #777676 !important;
    font-weight: 800;
    align-items: center;
}

.mrg244 {
    margin: 0px 6px;
}

.wdt-344 {
    width: 344px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.disableButon {
    border: 1px solid #38D4F2;
    background-color: #38D4F2;
    border-radius: 20px;
    opacity: 0.4;
}

.mrg-m-envi {
    margin: 120px 60px;
}

.msj-registrar-dinamico {
    position: absolute;
    right: 40px;
    top: 19%;
    padding: 20px;
    width: 28%;
    border-radius: 8px;
    color: white;
}

.pdg-lr {
    padding-left: 0px;
    padding-right: 0px;
}

@media(min-width: 1150px) and (max-width: 1370px) {
    .msj-registrar-dinamico {
        position: absolute;
        right: 5px;
        top: 19%;
        padding: 20px;
        width: 30%;
        border-radius: 8px;
        color: white;
    }
}

@media (max-width: 1150px) {
    .msj-registrar-dinamico {
        position: initial;
        top: 30%;
        margin: 0 auto;
        padding: 20px 20px 80px 20px;
        width: 100%;
        border-radius: 8px;
        color: white;
    }

    .pdg-lr {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.botonBloqueado {
    background-color: gray !important;
    color: #fff !important;
    border: gray !important;
}





